[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
Flask-SocketIO = "*"
crypto = {git = "https://github.com/AlmightyYakob/cryptography.git", editable = true, ref = "master"}

[requires]
python_version = "3.7"
