[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
flake8-black = "*"

[packages]
flask = "*"
Flask-SocketIO = "*"
python-socketio = "*"
pycrypto = "*"
crypto = {git = "https://github.com/AlmightyYakob/cryptography.git", editable = true, ref = "master"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
